<div class="container mt-5">
    <h2>Cadastro de Produto</h2>
    <form [formGroup]="productForm" (submit)="registerProduct()">
        <div class="form-group">
            <label for="name">Nome:</label>
            <input formControlName="nome" type="text" class="form-control" id="name" placeholder="Digite o nome do produto" required>
        </div>
        <div class="form-group my-2">
            <label for="codigoBarras">Código de Barras:</label>
            <input formControlName="codigoBarras" type="text" class="form-control" id="codigoBarras" placeholder="Digite o código de barras" required>
        </div>
        <div class="form-group">
            <label for="preco">Preço:</label>
            <input formControlName="preco" type="number" step="0.01" class="form-control" id="preco" placeholder="Digite o preço" required>
        </div>
        <button type="button" routerLink="/products" class="btn btn-primary">Voltar</button>
        <button type="submit" class="btn btn-primary my-2">Cadastrar</button>
    </form>
</div>