<div>
    <nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">MindSait</span>
    <div class="navbar">
        <span class="nav-item mx-3">
            <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
        </span>
        <span class="nav-item mx-3">
            <a class="nav-link" routerLink="/products" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Produtos</a>
        </span>
        <span class="nav-item mx-3">
            <a class="nav-link" routerLink="/products/register" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Cadastrar Produto</a>
        </span>
    </div>
  </nav>
</div>