<form [formGroup]="productForm" (submit)="productFunc()">
    <div class="form-group">
        <label for="name">Nome:</label>
        <input formControlName="nome" type="text" class="form-control" id="name" placeholder="Digite o nome do produto" required>
    </div>
    <div class="form-group my-2">
        <label for="codigoBarras">Código de Barras:</label>
        <input formControlName="codigoBarras" type="text" class="form-control" id="codigoBarras" placeholder="Digite o código de barras" required>
    </div>
    <div class="form-group">
        <label for="preco">Preço:</label>
        <div class="input-group">
            <div class="input-group-prepend">
                <span class="input-group-text">R$</span>
            </div>
            <input formControlName="preco" type="number" class="form-control" id="preco" placeholder="Digite o preço" required>
        </div>
    </div>
    <button type="button" routerLink="/products" class="btn btn-secondary mx-2">Voltar</button>
    <button type="submit" class="btn btn-primary my-2">{{ btnName }}</button>
</form>