<table class="table table-secondary shadow-lg">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Nome</th>
        <th scope="col">Código de Barras</th>
        <th scope="col">Preço</th>
        <th scope="col">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of data">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.nome }}</td>
        <td>{{ product.codigoBarras }}</td>
        <td>{{ product.preco | currency: 'BRL' }}</td>
        <td>
          <button class="btn">Editar</button>
          <button class="btn" (click)="deleteProduct(product.id)">Excluir</button>
        </td>
      </tr>
    </tbody>
</table>
